@model List<GroupsProviders.Models.GroupsViewModel> 
<title>Groups And Providers</title>

<table class="table">
    <thead>
        <tr>
            <th scope="col">GroupName</th>
            <th scope="col">GroupType</th>
            <th scope="col">ProviderName</th>
            <th scope="col">ProviderType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.GroupName</td>
            <td>@item.GroupType</td>
            <td>@item.ProviderName</td>
            <td>@item.ProviderType</td>s
            </tr>
        }
    </tbody>
</table>
